.floating-cart {
  position: absolute;
  right: 1rem;
  top: 1rem;

  &__icon {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.3s 0.1s ease-in-out;
    visibility: hidden;
    z-index: 100;
  }
}

.cart-modal {
  &__content {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    transform: translateX(100%);
    transition: all 0.3s 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  &__items {
    overflow-y: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: hidden;

    > div {
      .product-card__price {
        font-size: 1rem;
      }

      .product-card__title {
          font-size: 1rem;
      }

      .product-card__actions {
        padding: 5px;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  .title {
    margin-top: 0;
  }

  .close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  &__total {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.--is-open {
  .cart-modal {
    visibility: visible;

    &__content {
      transform: translateX(0);
    }
  }
}

.--disabled {
  display: none;
}
