

.filters {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__option {
    transition: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    padding: 5px 10px;
    border-radius: 10px;
  }

  &__option.--active, &__option:hover {
    background: #0c151a;
    color: white;
  }
}

.products {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1rem;
  justify-content: space-between;

  > * {
    width: calc(50% - 1rem);
  }
}
