// reset button styles
button {
  cursor: pointer;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn {
  background: #f2f2f2;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 15px 20px;
  border-radius: 15px;
  border: 2px solid transparent;
  min-width: max-content;
  transition: all 0.2s ease-in-out;
}

.--primary {
  background: #0c151a;
  color: white;

  &:hover {
    background: #fff;
    color: #0c151a;
    border-color: #0c151a;
  }
}

.--framed {
  border: 2px solid #e9e9e9;
  background: transparent;
  color: #0c151a;

  &:hover {
    border-color: #0c151a;
  }
}

.link-btn {
  font-weight: 500;
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background: rgba(233, 163, 100, 0.6);
    transition: width .3s, background-color .3s;
  }

  &:hover {
    &::after {
      background: rgba(233, 163, 100, 1);
    }
  }
}
